@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&display=swap');

.pricesPage {
	&-title {
		margin-left: 10px;
		margin-right: 10px;
		border-bottom-left-radius: 30px;
		border-bottom-right-radius: 30px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: #f1f3f6;
		margin-bottom: 80px;
		h2 {
			font-family: 'Fira Sans', sans-serif;
			font-size: 46px;
			text-align: center;
			padding-top: 80px;
			padding-right: auto;
			padding-left: auto;
		}
		p {
			font-family: 'Fira Sans', sans-serif;
			font-size: 21px;
			max-width: 540px;
			text-align: center;
			padding-top: 30px;
			padding-bottom: 80px;
			font-weight: 400;
		}
	}
}
