.singleExpert {
	&-container {
		margin-top: 60px;
		margin-bottom: 60px;
		position: relative;
		left: 10vw;
		width: 80vw;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	&-title {
		font-family: 'FiraGO';
		font-size: 22px;
		margin-bottom: 30px;
		color: #343434;
	}
	&-info {
		font-family: 'FiraGO';
		color: #343434;
		font-size: 18px;
		line-height: 30px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: 30px;
		p {
			margin-top: 20px;
		}
	}
}
